<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22950361175-7l1rh9ge555vf9kq906mu96qct9fqb3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22950361175-7l1rh9ge555vf9kq906mu96qct9fqb3r</string>
	<key>API_KEY</key>
	<string>AIzaSyD00iTkmMgDrsR7kv5X2gTJvhBaN7AmYlY</string>
	<key>GCM_SENDER_ID</key>
	<string>22950361175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DemoTask</string>
	<key>PROJECT_ID</key>
	<string>coursedemoproj</string>
	<key>STORAGE_BUCKET</key>
	<string>coursedemoproj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22950361175:ios:8bcb49c24097e74d418b12</string>
</dict>
</plist>